table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

h2 {
    margin-bottom: 10px;
}

button {
    margin-right: 5px;
}


.blue {
    color: blue;
}

.green {
    color: green;
}

.red {
    color: red;
}  