#people-list {
    background-color: #f2f2f2;
}

.person {
    margin-bottom: 10px;
    font-weight: bold;
}

.person-india {
    color: blue;
}

.person-usa {
    color: green;
}

.person-france {
    color: red;
}

.person-age-30 {
    color: green;
}

.person-age-40 {
    color: blue;
}

.person-age-40plus {
    color: red;
}

